<div class="exercise-wrapper text-center">
  <h1 class="exercise-title">運動ログ一覧</h1>

    <%= link_to "今日の運動を記録する", new_exercise_log_path, class: "btn btn-primary" %>

  <p class="total-point">累計ポイント：<%= current_user.growth_logs.sum(:growth_point) %> pt </p>

  <% if @exercise_logs.any? %>
    <ul>
      <% @exercise_logs.each do |log| %>
        <li style="margin-bottom: 10px;">
          <span style="color: #b37b85; font-weight: bold;">
            📅 <%= log.created_at.strftime("%-m月%-d日") %>
          </span><br>

          <span>
            <%= I18n.t("enums.exercise_log.category.#{log.category}") %>（<%= log.minutes %>分）
          </span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="empty-state">
      <%= image_tag "growcake.png", class: "empty-image" %>
      <p>まだログがありません</p>
    </div>
  <% end %>

  <div class="back-btn mt-4">
    <%= link_to "戻る", mypage_path, class: "btn" %>
  </div>
  
</div>