<div class="exercise-wrapper text-center">
  <h1 class="exercise-title">運動ログ追加</h1>

  <div class="form-container">
    <%= form_with model: @exercise_log, url: exercise_logs_path, local: true do |f| %>

      <div class="form-group">
        <%= f.label :category, "運動の種類" %><br>
        <%= f.select :category, ExerciseLog.categories.keys.map { |k| [I18n.t("enums.exercise_log.category.#{k}"), k] } %>
      </div>

      <div class="form-group">
        <%= f.label :minutes, "時間（分）" %><br>
        <%= f.select :minutes, [5,10,15,20,25,30,40,50,60,70,80,90,100,110,120].map { |m| ["#{m}分", m] }, {}, class: "form-select" %>
      </div>

      <%= f.submit "保存", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>