<div class="growth-wrapper text-center">
  <h1>ケーキ成長ページ</h1>

  <p>現在の総成長ポイント：<%= @total_points %> pt</p>

  <% if @user.cake_type != "unset" %>
    <% cake_type = @user.cake_type %>
    <% stage_number = @stage + 1 %>
      <% prefix =
        case @user.cake_type
        when "tarte" then "tart"
        when "shortcake" then "cake"
        else "cake"
        end %>

      <div class="cake-display">
        <div class="cake-frame-background <%= @user.cake_type %>"></div>
        <%= image_tag "cakes/cake_frame.png", class: "cake-frame" %>
        <% prefix = (@user.cake_type == "tart" ? "tart" : "cake") %>
        <% stage_number = @stage + 1 %>

        <%= image_tag "cakes/#{prefix}_stage_#{sprintf('%02d', stage_number)}.png", class: "cake-image" %>
      </div>

    <p>成長段階: <%= @stage + 1 %> / <%= User::GROWTH_STAGES[@user.cake_type.to_sym].length %></p>
      <% else %>
        <p>ケーキタイプが未設定です<br>マイページで選択してください。</p>
      <% end %>

      <div class="growth-buttons">
        <%= link_to "今日の記録を投稿する📷", new_post_path, class: "btn growth-btn" %>
        <%= link_to "ケーキの成長履歴を見る🍰", growth_records_path, class: "btn growth-btn" %>
      </div>

      <% final_stage = User::GROWTH_STAGES[@user.cake_type.to_sym].length - 1 %>

      <% if @stage == final_stage %>
        <div class="congrats-message">
        🎉✨ おめでとう！ ✨🍰<br>
        <p>ここまで続けてきたあなたの努力、とっても素敵だよ。</p>
        <p>今日の積み重ねが、未来のあなたを作る。</p>
        <p>これからも、焦らず自分のペースでね。</p>
        </div>
      <% end %>
      
      <div id="confetti"
        data-stage="<%= @stage %>"
        data-max="<%= User::GROWTH_STAGES[@user.cake_type.to_sym].length - 1 %>">
      </div>
</div>
