<div class="cake-edit-wrapper">
  <h2>ケーキタイプを変更する</h2>
  <p>現在のケーキタイプ：<strong><%= cake_type_name(current_user.cake_type) %></strong></p>

  <%= form_with model: current_user, url: cake_type_path, method: :patch, local: true do |f| %>
    <%= f.radio_button :cake_type, :tart %> タルト<br>
    <%= f.radio_button :cake_type, :cake %> ショートケーキ<br>

    <%= f.submit "更新する", class: "btn mt-3" %>
  <% end %>

  <div class="back-btn mt-4">
    <%= link_to "戻る", mypage_path, class: "btn" %>
  </div>
  
</div>

