<div class="edit-wrapper">

  <h1>編集</h1>

  <%= form_with model: @post, local: true do |f| %>

    <div>
      <%= f.label :body, "内容" %>
      <%= f.text_area :body %>
    </div>

    <div class"edit-action-btns">

        <%= f.submit "更新", class: "btn btn-primary" %>
  <% end %>

      <%= link_to "戻る", post_path(@post), class: "btn btn-back" %>

    </div>

</div>