<div class="posts-wrapper">

  <%= form_with url: search_posts_path, method: :get, local: true do %>

  <% exercise_options = {
    "有酸素" => "cardio",
    "ランニング" => "running",
    "筋トレ" => "strength",
    "ストレッチ" => "stretch",
    "ウォーキング" => "walking",
    "ヨガ" => "yoga",
    "ダンス" => "dance",
    "ピラティス" => "pilates",
    "EMS" => "ems"
    } %>

  <%= select_tag :exercise,
        options_for_select([["運動（指定なし）", ""]] + exercise_options.map { |jp, en| [jp, en] }),
        class: "form-select" %>

  <%= select_tag :cake_type,
        options_for_select([["ケーキタイプ(指定なし)", ""], ["ショートケーキ", "cake"], ["タルト", "tart"]]),
        class: "form-select" %>

  <%= select_tag :growth_status,
        options_for_select([["成長ステージ(指定なし)", ""], ["最終ステージだけ", "finished"]]),
        class: "form-select" %>

    <!-- 検索ボタン -->
    <%= submit_tag "検索", class: "btn" %>

  <% end %>

    <h2 class="posts-title">みんなの投稿</h2>

    <div class="posts-container">
      <% @posts.each do |post| %>
        <div class="post-card stage-<%= post.stage %>">
        <p class="post-user-name">
          <%= link_to post.user.name, user_path(post.user), class: "user-link" %>
        </p>
        <p class="post-date">📅 <%= post.created_at.strftime("%Y/%m/%d") %></p>

          <% if post.image.attached? %>
            <%= image_tag "cakes/#{post.cake_type_at_post}_stage_#{format("%02d", post.stage)}.png", class: "post-card-img" %>
          <% else %>
            <%= image_tag "cakes/cake_stage_01.png", class: "post-card-img default-img" %>
          <% end %>

          <div class="post-card-content">
            <p class="post-exercise">
              ✨ <%= post.exercise.present? ? post.exercise : "運動なし" %>
            </p>
            <p class="post-body"><%= truncate(post.body, length: 30) %></p>
            
          </div>

          <% if post.comments.any? %>
            <p class="comment-count">
              💬 <%= post.comments.count %>件  
              （最新：「<%= truncate(post.comments.last.content, length: 10) %>」）
            </p>
        <% else %>
            <p class="comment-count">
              💬 まだコメントはありません
            </p>
        <% end %>

          <% if current_user.liked?(post) %>
            <%= link_to post_like_path(post),
                  method: :delete,
                  class: "like-link liked" do %>
              いいね解除❤️ <%= post.likes.count %>
            <% end %>
          <% else %>
            <%= link_to post_like_path(post),
                  method: :post,
                  class: "like-link" do %>
              いいね🤍 <%= post.likes.count %>
            <% end %>
          <% end %>

          <div class="post-card-actions">
            <%= link_to "詳しく見る", post_path(post), class: "card-btn" %>
          </div>
        </div>
      <% end %>
    </div>
</div>