<div class="cake-edit-wrapper">

  <h2>æŠ•ç¨¿ãƒ•ã‚©ãƒ¼ãƒ </h2>

  <%= form_with model: @post, local: true do |f| %>

    <div class="field">
      <%= f.label :exercise, "ä»Šæ—¥ã®é‹å‹•" %><br>
      <%= f.text_field :exercise, placeholder: "ä¾‹ï¼šã‚¹ã‚¯ãƒ¯ãƒƒãƒˆ20å›ž/ã‚¦ã‚©ãƒ¼ã‚­ãƒ³ã‚°30åˆ†" %>
    </div>

    <div class="field">
      <%= f.label :body, "ã‚³ãƒ¡ãƒ³ãƒˆ" %><br>
      <%= f.text_area :body, placeholder: "æ„Ÿæƒ³ã‚„æ°—ã¥ãã‚’æ›¸ã„ã¦ã¿ã‚ˆã†ðŸ°âœï¸" %>
    </div>

    <div class="hidden">
      <%= f.label :image, "ã‚±ãƒ¼ã‚­ç”»åƒ ðŸ“·" %><br>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "æŠ•ç¨¿ã™ã‚‹", class: "btn" %>
    </div>

  <% end %>
</div>