<div class="cake-edit-wrapper">

  <h2>投稿フォーム</h2>

  <% if @today_log.present? %>
    <div class="auto-log">
    <p>今日の運動 ： <%= I18n.t("enums.exercise_log_category.#{@today_log.category}") %> (<%= @today_log.minutes %> 分)</p>
    </div>
  <% else %>
    <p class="warn">まだ運動ログが入力されていません</p>
  <% end %>

  <div class="form-area">

    <%= form_with model: @post, local: true do |f| %>

      <div class="field">
        <%= f.label :body, "コメント" %><br>
        <%= f.text_area :body, placeholder: "感想や気づきを書いてみよう🐰✏️" %>
      </div>

      <div class="field-note">
          🎂ケーキ画像はあなたの成長に合わせて自動で設定されます。
      </p>

      <div class="actions">
        <%= f.submit "投稿する", class: "btn" %>
      </div>

    <% end %>
  </div>
</div>