<div class="cake-edit-wrapper">

  <h2>投稿フォーム</h2>

  <% if @exercise_logs.present? %>
    <p>今日の運動：</p>
      <div class="exercise-list">
        <% @exercise_logs.each do |log| %>
          <div class="exercise-item">
            <%= t("enums.exercise_log.category.#{log.category}") %>（<%= log.minutes %>分）
          </div>
        <% end %>
      </div>
 <% else %>
    <p>まだ運動ログが入力されていません</p>
 <% end %>

  <div class="form-area">

    <%= form_with model: @post, local: true do |f| %>

      <div class="field">
        <%= f.label :body, "コメント" %><br>
        <%= f.text_area :body, placeholder: "感想や気づきを書いてみよう🐰✏️" %>
      </div>

      <div class="field-note">
          🎂ケーキ画像はあなたの成長に合わせて自動で設定されます。
      </p>

      <div class="actions">
        <%= f.submit "投稿する", class: "btn" %>
      </div>

    <% end %>
  </div>
</div>