<!DOCTYPE html>
<html>
  <head>
    <title>Growcake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/7779a18b96.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <header class="site-header d-flex justify-content-between align-items-center px-4 py-3">

          <!-- ロゴ（左寄せ） -->
          <div class="header-logo">
            <%= link_to root_path do %>
              <%= image_tag "growcake_logo.png", class: "logo-img" %>
            <% end %>
          </div>

          <!-- ナビゲーション（右寄せ） -->
          <nav class="header-nav header-nav d-flex align-items-center">
            <%= link_to "About", about_path, class: "nav-link me-3" %>

            <% if user_signed_in? %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <% else %>
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link me-3" %> 
              <%= link_to "ログイン", new_user_session_path, class: "nav-link me-3" %>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary" %>
            <% end %>
          </nav>

       </header>
    <%= yield %>
  </body>
</html>
