<!DOCTYPE html>
<html>
  <head>
    <title>Growcake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7779a18b96.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "layouts/header" %>
      <% if flash[:notice] %>
        <div class="toast-message">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
  </body>
</html>
